footer {
  display:inline-block;
  position:absolute;
  height: 100px;
  width: 100%;
  background-color: #ffffff;
}
footer .container-fluid {
  text-align: center;
  position:static;
  max-width: 100%;
}
.scale-logo {
  position: relative;
  padding-left: 0px;
  padding-top: 45px;
  padding-bottom: 0px;
  margin-top: 0px;
}
.footer-logo {
  position: relative;
  padding-right: 0px;
  padding-top: 33px;
}

footer .footer-box {
  position: absolute;
  width: 100%;
  height: 76px;
  margin: 0;
  padding: 0;
  background-color: rgb(255, 255, 255);
  text-align: center;
}
.attendance-razor {
  position: relative;
  font-size: x-small;
  font-weight: bolder;
  color: rgb(0, 136, 255);
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}
