footer {
  display:block;
  position:absolute;
  height: 100px;
  width: 100%;
  background-color: ##000000f1;
}
footer .container-fluid {
  text-align: center;
  position:absolute;
  max-width: 100%;
}
.scale-logo {
  position: relative;
  padding-left: 0px;
  padding-top: 45px;
  padding-bottom: 0px;
  margin-top: 0px;
}
.footer-logo {
  position: relative;
  padding-right: 0px;
  padding-top: 33px;
}

footer .footer-box {
  position: absolute;
  width: 100%;
  height: 76px;
  margin: 0;
  padding: 0;
  text-align: center;
}
.attendance-razor {
  position: relative;
  font-size: x-small;
  font-weight: bolder;
  text-align: center;
  color: rgba(0, 136, 255, 0.519);
  padding: 100px 0px 10px 0px;
  margin-top: -5px;
}