@media screen and (max-width: 760px){
    header{
        flex-direction: column;
      }
      main{
        flex-direction: column;
      }
      h2{
        font-size: 38px;
      }

      button{
        margin: 0 auto;
      }
      
      img{
        margin-top: 60px;
        width: 360px;
      }

    }